@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 12%;
    --foreground: 56 100% 50%;

    --card: 226.2 57% 21%;
    --card-foreground: 56 100% 50%;

    --popover: 226.2 57% 21%;
    --popover-foreground: 56 100% 50%;

    --primary: 56 100% 50%;
    --primary-foreground: 56 100% 50%;

    --secondary: 0 0% 42%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 42%;
    --muted-foreground: 213.1 93.9% 67.8%;

    --accent: 0 0% 42%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 42%;
    --input: 0 0% 42%;
    --ring: 211.7 96.4% 78.4%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}
